include README.md LICENSE CHANGES.txt
global-include CMakeLists.txt *.cmake
recursive-include src *.cpp
recursive-include pybind11/include *.h
recursive-include pyscannerbit *.py *.tar *nullfile
recursive-include tests *.py *.yaml
